*,html{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100%;
    cursor: none;
    background-color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}


main {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    height: 100vh;
    text-align: center;
}

.wrap{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    transition: all 0.5s ease-in-out;

}

.wrapper{
    height: auto;
    width: 95vw;
    position: relative;
    margin: auto;

}




.noise {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.1;
}

.overlayBlack{
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: #000000;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlayActive{
    opacity: 0.7;
}

.scorecontainer{
    display: flex;


    padding: 0.5rem;
    height: 4rem;
    /*background-color: rgba(0,0,0,.5);*/
}

.scorecontainer span{
  padding-top: 1rem;
  color: #ffffff;
}

.score-wrap{
    width: 7rem;
    display: grid;
    height: 7rem;
    position: relative;
    margin-left: 1rem;
    font-size: 1.2rem;
    color:#ffffff;
    border:1px solid #ffffff;
    align-items: center;
    justify-items: center; /* adjusted */
    border-radius: 100%;
    background-color: rgba(0,0,0,.3);
}

.score span{
    padding: 1rem;
    font-weight: 100;
    text-align: center;
}






/*box middle */


.cls-1 {
    font-size: 206.46px;
    fill: #1d1d1b;
    font-family: AvenirCondensedHand, AvenirCondensedHand;
}


header{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding-top: 1rem;
    pointer-events: none;
}

header h1{
}

.fill-remaining-space {
    flex: auto;
}

.logo{
    height: auto;
    position: relative;
}

.logo img{
    height: auto;
    width: 10rem;
    /*padding-top: 2rem;*/
}

header .aarsman-logo img{
    height: auto;
    width: 10rem;
    padding-top: 0rem;
}


.footer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 95vw;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}

.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0 0%;
}

.footer li{
    margin: 0 10px;
}

.footer ul li a{
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;

}

.push-right {
    margin-left: auto;
}


/**
mouse cursor
 */

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    z-index: 100;
}

.cursor-dot-outline {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}


/**
sound bar
 */

.bars-wrap{
    height: 2rem;
    width: 4rem;
    z-index: 20;
}

#bars {
    position: absolute;
    height: 14px;
    width: auto;
    transform:scale(2) translateX(-50%);
    z-index: 2;
}

.bar {
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 1px;
    background: #ffffff;
    animation: sound 0ms -800ms linear infinite alternate;
    -webkit-animation: sound 0ms -800ms linear infinite alternate;
    transform: translateY(50%);
}

.pause > *{
    animation-play-state: paused;
}

@-webkit-keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 10px;
    }
}


.content{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center; /* adjusted */
    position: relative;
    width: 35rem;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.container {
    width: auto;
    height: 70vh;
    position: relative;

    justify-content: center;
    align-items: center;
    z-index: 10;

}

.buttonWrapper {
    width: 180px;
    height: 60px;
    position: relative;
    margin: auto;
    margin-top: 2rem;
}

.btn {
    width: 180px;
    height: 60px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    transition: 0.5s ease-in-out;
    cursor: none;
    color: white;
    display:table;
    text-decoration: none;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;

    animation: loopButton;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.btn:hover {
    transition: 0.5s ease-in-out;
    background: rgba(255,255,255,0.5);

}


/*.btn:hover svg {*/
/*stroke-dashoffset: -480;*/
/*}*/

@keyframes loopButton {
    from
    {
        stroke-dashoffset: 150;
    }
    to{
        stroke-dashoffset: -480;
    }
}

.btn span {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    display:table-cell;
    vertical-align:middle;
}

.subtitle{
    width: 25rem;
    margin: auto;
}


.element{
    position: relative;
    width: auto;
    color:#ffffff;
}


section{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

}
*:focus {
    outline:none;
}

.object-subject{
    /* The image used */
    width: auto;
    height: auto;

}

.object-subject img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section:after{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    /* Add more width */
    width: 150%;
    /* To form a square, the padding-bottom, needs to have the same value as the width property */
    padding-bottom: 120%;
    box-shadow: inset 0px 0px 500px 300px rgba(0,0,0,0.7);
    border-radius: 50%;
    pointer-events: none;
}


.not-visible{
    display: none;
}

.disabled{
    pointer-events: none;
}

.circle {
    background: rgba(255,0,0,.8);
    border: 2px dot-dash;
    border-radius: 50%;
    margin: 10px;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    position: absolute;
    z-index: 9;

}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 1, 1);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px  rgba(255, 0, 1, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


.area{
    position: absolute;
    z-index: 10;
}

.camera1{
    left: 25%;
    top: 24.5%;
}

.area1{
    /*background-color:green;*/
    border-radius: 50%;
    margin: 10px;
    height: 50px;
    width: 50px;
    left: 25%;
    top: 24.5%;
}

.camera2{
    left: 7.5%;
    top: 28%;
}

.area2{
    /*background-color:green;*/
    border-radius: 50%;
    margin: 10px;
    height: 50px;
    width: 50px;
    left: 7.5%;
    top: 28%;
}

.camera3{
    left: 1.4%;
    top: 29%;
}

.area3{
    /*background-color:green;*/
    border-radius: 50%;
    margin: 10px;
    height: 50px;
    width: 50px;
    left: 1.4%;
    top: 29%;

}


.bokaal{
    border-radius: 50%;
    margin: 10px;
    height: 30px;
    width: 30px;
    left: 36%;
    top: 50%;
}

.area4{
    /*background-color:green;*/
    height: 130px;
    width: 150px;
    left: 36.4%;
    top: 48%;
    z-index: 3;
}


.brandkast{
    border-radius: 50%;
    margin: 10px;
    height: 30px;
    width: 30px;
    left: 87.4%;
    top: 35%;
}

.area5{
    /*background-color: green;*/
    height: 502px;
    width: 246px;
    left: 76.4%;
    top: 29%;
}


.bloed{
    border-radius: 50%;
    margin: 10px;
    height: 30px;
    width: 30px;
    left: 49.4%;
    top: 25%;
}

.area6{
    height: 103px;
    width: 130px;
    left: 46.4%;
    top: 25%;
}

.vlag{
    border-radius: 50%;
    margin: 10px;
    height: 30px;
    width: 30px;
    left: 58.4%;
    top: 32%;
}

.area7{
    height: 63px;
    width: 60px;
    left: 58.4%;
    top: 32%;
    border-radius: 0;
    z-index: 3;
}


.lampjes{
    border-radius: 50%;
    margin: 10px;
    height: 30px;
    width: 30px;
    left: 44.4%;
    top: -1%;
}

.area8{
    height: 57px;
    width: 94px;
    left: 44.4%;
    top: -1%;
    border-radius: 0;
}


.borst{
    border-radius: 50%;
    margin: 10px;
    height: 30px;
    width: 30px;
    left: 51.4%;
    top: 37%;
}

.area9{

    height: 57px;
    width: 74px;
    left: 50.4%;
    top: 36%;
    border-radius: 0;
    z-index: 3;
}


.militair{
    border-radius: 50%;
    margin: 10px;
    height: 30px;
    width: 30px;
    left: 49.4%;
    top: 44%;

}

.area10{

    height: 461px;
    width: 263px;
    left: 43.4%;
    top: 33%;
    border-radius: 0;
    z-index: 1;
}







.page{

    width: auto;
    height: 75vh;
}

.reveal{
    margin: auto;
    width: 0rem;
    height: 0rem;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 70;
    transform-origin: center;
    animation: bounce 0.5s  ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: all 1s ease-in-out;
}

.reveal .img{
    width: 100%;
    height:100%;
    border-radius: 100%;
    overflow: hidden;
    background-color: red;
    position: absolute;
}

.reveal .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reveal .text p{
    position: absolute;
    width: 19rem;
    left: 50%;
    transform: translateX(-50%);
    bottom:-5rem;
    color: #ffffff;
}

.reveal .dashed{
    position: relative;
    transform-origin: center;
    align-items: center;
    justify-items: center; /* adjusted */
    /* Add more width */
    /* To form a square, the padding-bottom, needs to have the same value as the width property */
    width: 100%;
    height: 100%;
    border:2px outset #ffffff;
    border-radius: 100%;
    pointer-events: none;
    animation: rotate 3s  ease-in-out infinite;

}

.fly{
    animation: flying 1s  ease-in-out infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes flying {
    0%{
        width: 20rem;
        height: 20rem;
        border-radius: 100%;
        background-color: rgba(255,255,255,0.7);
        left: 50%;
        opacity: 1;
    }
    100%{
        width: 0rem;
        height: 0rem;
        left: 95%;
        top: 11%;
        opacity: 0;
    }
}

@keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0% {
        width: 0rem;
        height: 0rem;
    }
    50% {
        width: 25rem;
        height: 25rem;
    }
    100% {
        width: 20rem;
        height: 20rem;
    }
}



.founds{
   height: 2rem;
    background-color: transparent;
    border: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    font-size: 1rem;
    cursor: none;
}
.circle-found {
    background: #ffffff;
    border: 2px dot-dash;
    border-radius: 50%;
    margin: 10px;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    position: relative;
}



.founds-wrap{
    display: flex;

}

.controls{
    grid-template-columns: 2fr;
    align-items: center;
    justify-items: center; /* adjusted */
    height: 10rem;
    width: 3rem;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    z-index: 30;
}

.controls button{
    width: 100%;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 1.4rem;
    color: #ffffff;
}

.controls .slider{
    height: 7rem;
    width: 0.1rem;
    position: relative;
    margin: auto;
    background-color: rgba(255,255,255,0.5);
}

.controls .wheel{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
}

.controls .zoomIn{
    top: 0;
}

.controls .zoomOut{
    bottom:0;
}


.slide{
    left: 20%!important;
}
.closed{
    right: -35%!important;
    opacity: 1;
}

.textopener{
    height: 50px;
    width: 50px;
    background-color: white;
    position: absolute;
    left: -50px;
    border: none;
    top:0%;

}


.paper {
    position: absolute;
    height: 60%;
    width: 500px;
    background: rgba(255,255,255,.9);
    /*background: #383851;*/
    /*margin: -275px -225px;*/
    right: 0%;
    top: 23%;
    /*box-shadow: 0px 0px 5px 0px #888;*/
    z-index: 99;
    transition: all 0.5s ease-in-out;
}
/*.paper::before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*left: 45px;*/
    /*height: 100%;*/
    /*width: 2px;*/
    /*background: rgba(255,0,0,0.4);*/
/*}*/
/*.lines {*/
    /*margin-top: 40px;*/
    /*height: calc(100% - 40px);*/
    /*width: 100%;*/
    /*background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);*/
/*}*/
.paper .text {
    position: absolute;
    top: 40px;
    left: 30px;
    bottom: 10px;
    right: 20px;
    line-height: 25px;
    font-family: 'Indie Flower';
    overflow: scroll;
    outline: none;
    text-align: left;

}

.paper .text p{
    font-size: 0.8rem;
}

.paper .text span{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    border-bottom: 1px solid red;
}
/*.holes {*/
    /*position: absolute;*/
    /*left: 10px;*/
    /*height: 25px;*/
    /*width: 25px;*/
    /*background: lightgoldenrodyellow;*/
    /*border-radius: 50%;*/
    /*box-shadow: inset 0px 0px 2px 0px #888;*/
/*}*/
/*.hole-top {*/
    /*top: 10%;*/
/*}*/
/*.hole-middle {*/
    /*top: 50%;*/
/*}*/
/*.hole-bottom {*/
    /*bottom: 10%;*/
/*}*/